div{
    margin: 0 0;
    font-family: Arial;
}
.a{
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}
.a1{
    background-color: lightpink;
    width: 100px;
}
.a2{
    background-color: lightblue;
    width: 200px;
}
.r2{
    display: flex;
    justify-content: space-between;
}
.item{
    background-color: black;
    color: white;
}

.d{
    padding: 10px 15px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.d1{
    font-size: 14px;
    color: rgb(120,120,120);
    margin-bottom: 20px;
}
.d2{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.img-frame{
    margin-right: 10px;
}
.img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}
.info{
    flex: 1;
}
.d21{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.chewy{
    font-weight: bold;
    font-size: 18px;
}
.time{
    font-size: 14px;
    color: rgb(120,120,120);
}
.d22{
    font-weight: bold;
    margin-bottom: 3px;
}
.d23{
    color:  rgb(120,120,120);
}


.f{
    display: flex;
    width: 420px;
    margin-top: 10px;
    margin-left: 20px;
}
.img2{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}
.detail{
    flex: 1;
}
.header{
    display: flex;
    margin-bottom: 5px;
}
.name1{
    font-weight: bold;
    margin-right: 5px;
}
.name2{
    color: rgb(111,111,111);
}
.descript{
    line-height: 20px;
    margin-bottom: 15px;
}
.video{
    display: flex;
    height: 100px;
    align-items: center;
    border-style: solid;
    border-color: rgb(200,200,200);
    border-radius: 15px;
    border-width: 1px;
    overflow: hidden;
}
.thumbnail{
    width: 100px;
    height: 100px;
    background-color: rgb(220,220,220);
    margin-right: 10px;
}
.info-video{
    flex: 1;
}
.link{
    color: rgb(111,111,111);
    margin-bottom: 3px;
}
.video-title{
    line-height: 22px;
}