p{
    margin-top: 0;
}
.d{
    border-radius: 4px;
    width: 80px;
    height: 30px;
    border-color: rgb(200,200,200);
    border-width: 2px;
    border-style: solid;
    padding-left: 8px; 
}
.e{
    border:none;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 10px;
    width: 300px;
    height: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 30px;
}
.f1{
    color: gray;
    font-size: 16px;
    margin-bottom: 6px;
}
.f2{
    border-color: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    margin-bottom: 10px;
}
.f3{
    border:none;
    background-color: rgb(15, 90, 139);
    color: white;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px 140px;
    margin-bottom: 30px;
}
.dog{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 5px;
}
.g1{
    vertical-align: middle;
    border: none;
    color: gray;
    font-size: 16px;
    width: 250px;
    margin-right: 5px;
}
.g2{
    background-color: rgb(37, 128, 181);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 8px 16px;
    vertical-align: middle;
}