.a1{
    display: block;
    margin: 5px 0;
}
.b1{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.c1{
    width: 150px;
    display: block;
    margin: 0 auto;
}
.c2{
    border-radius: 20px;
    padding: 12px 16px;
    width: 500px;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    display: block;
}
.d1{
    padding: 8px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    border-width: 1px;
    width: 100px;
    margin-left: 10px;
}
.d2{
    padding: 8px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(158, 158, 158);
    border-width: 1px;
    display: block;
    margin: 10px 10px;
    width: 235px;
}
.d3{
    margin-left: 10px;
    background-color: rgb(32, 151, 230);
    color: white;
    padding: 10px 100px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    display: block;
    font-weight: bold;
    margin-bottom: 30px;
}
.e1{
    font-weight: bold;
    font-family: Arial;
    font-size: 30px;
    margin-bottom: 20px;
}
.e2{
    display: block;
    margin-bottom: 5px;
    padding: 8px 10px;
    width: 300px;
    border: none;
    background-color: rgb(238, 233, 233);
}
.e3{
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 15px 25px;
    margin-right: 15px;
    border: none;
}
.e4{
    background-color: rgb(238,238,238);
    padding: 15px 25px;
    border: none;
}