.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-color: rgb(228,228,228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    z-index: 1;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.middle-section{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.search{
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192,192,192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
    width: 0;
}
.search::placeholder{
    font-size: 16px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(192,192,192);
    margin-left: -1px;
    margin-right: 10px;
}
.search-button,.voice-button, .upload-icon-container,
.apps-icon-container, .notify
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-icon{
    height: 25px;
}
.tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
} 
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.notify:hover .tooltip
{
    opacity: 1;
}
.voice-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 30px;
    background-color: rgb(248,248,248);
}
.voice-icon{
    height: 24px;
}
.right-section{
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
}
.upload-icon{
    height: 24px;
}
.apps-icon{
    height: 24px;
}
.notify{
    position: relative;
}
.three{
    position: absolute;
    right: -5px;
    top: -2px;
    background-color: red;
    color: white;
    padding: 2px 5px;
    font-size: 10px;
    border-radius: 10px;
}
.notifications-icon{
    height: 24px;
}
.profile-pic{
    height: 32px;
    border-radius: 40px;
    cursor: pointer;
}