.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.thumbnail{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}
.time{
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 2px;
}
.title{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.link{
    text-decoration: none;
    color: black;
}
.info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-container{
    position: relative;
    display: inline-block;
}
.video-tooltip{
    background-color: white;
    width: 200px;
    padding: 12px 12px;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.3);
    border-radius: 6px;
    position: absolute;
    top:55px;
    z-index: 300;
    opacity: 0;
    pointer-events: none;
    
    display: flex;
    align-items: center;
    transition: opacity 0.15s;
}
.img-channel{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50px;
}
.channel-container:hover .video-tooltip{
    opacity: 1;
}
.img-channel-tip{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 8px;
}
.channel-name{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}
.subscribe{
    color: rgb(196,196,196);
    font-size: 14px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
.author, .stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.author{
    margin-bottom: 4px;
}

@media(max-width: 750px){
    .video-grid{
        grid-template-columns:1fr 1fr;
    }
}
@media(max-width: 999px) and (min-width:751px){
    .video-grid{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media(min-width: 1000px){
    .video-grid{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
}
@media(min-width: 1000px){
    .title{
        font-size: 16px;
        line-height: 24px;
    }
    .author, .stats{
        font-size: 14px;
    }
}