body{
    height: 3000px;
}
.overlay{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    width: 300px;
    padding: 15px 15px;
    border-radius: 5px;
    font-family: Arial;
}
.title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}
.this{
    margin-bottom: 12px;
}
p{
    margin: 0 0;
}