body{
    font-family: Arial;
    height: 3000px;
    width: 3000px;
}
.giyuu{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 10px;
}
.side1{
    background-color: rgb(33,33,33);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.side2{
    background-color: rgb(55,55,55);
    position: fixed;
    left: 70px;
    top:0;
    bottom: 0;
    width: 150px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.name{
    color: white;
    font-size: 14px;
}
.plus{
    color: rgb(150,150,150);
    font-size: 25px;
}
.channel{
    color: rgb(150,150,150);
    margin-bottom: 16px;
}