
    .suprai{
        background-color: rgb(204,0,0);  
        color: white; 
        border: none;
        /* height: 36px;
        width: 105; */
        padding: 10px 16px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        transition: opacity 0.15s;
    }

    .join{
        background-color: white;
        color: rgb(6,95,212);
        border-color:rgb(6,95,212);
        border-style: solid;
        border-width: 1px;
        padding: 9px 15px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 12px;
        transition: background-color 1s, color 1s;
        vertical-align: top;
    }

    .tweet{
        background-color: rgb(29,155,240);
        color: white;
        border: none;
        /*height: 36px;
        width: 74px; */
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 20px;
        cursor: pointer;
        margin-right: 8px;
        font-weight: bold;
        font-size: 15px;
        transition: box-shadow 1s;
    }

    .suprai:hover{
        opacity: 0.8;
    }
    .suprai:active{
        opacity: 0.5;
    }
    .join:hover{
        background-color: rgb(6,95,212);
        color: white;
    }
    .join:active{
        opacity: 0.7;
    }
    .tweet:hover{
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    }

