p{
        font-family: Roboto;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .title{
        font-size: 18px;
        width: 280px;
        font-weight: bold;
        text-align:left;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .stats{
        color: rgb(96,96,96);
    }
    .author{
        color: rgb(96,96,96);
    }
    .description{
        color: rgb(96,96,96);
        margin-bottom: 50px;
        width: 280px;
        line-height: 22px;
    }
    .apple-text{
        margin-bottom: 50px;
        background-color: rgb(227, 65, 64);
        color: white;
        padding: 20px 0px;
        text-align: center;
    }
    .shop:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    
    .roboto-hehe {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 85;
    }