body{
    height: 3000px;
}
.contain{
    position: relative;
    display: inline-block;
}
.shirt{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.off{
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: black;
    color: white;
    font-family: Arial;
    padding: 8px 12px;
}
.bottom-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px 15px;
    font-family: Arial;
}